body {
    overflow-y:hidden;
}

.App {
  background-color: #269;
  background-image: linear-gradient(#4aa1e0 2px, transparent 2px),
    linear-gradient(90deg, #4aa1e0 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px
}
